footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto;
  grid-gap: 2rem;
  justify-items: center;
  /* align-items: center; */
  background: var(--primary_green);
  color: #ffffff;
  padding: 20px 70px 20px 70px;
  text-align: center;
  font-size: 0.8rem;
}
@media (max-width: 960px) {
  /* Adjust grid properties for smaller screens */
  footer {
  grid-template-columns: 1fr;
  padding-left: 50px;
  padding-right: 50px;
  }
}

@media (max-width: 480px) {
  /* Adjust grid properties for smaller screens */
  footer {
  grid-template-columns: 1fr;
  padding-left: 20px;
  padding-right: 20px;
  }
}

.logo-container {
  padding: 10px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
}

footer a:link {
  color: #fff;
}

footer a:visited {
  color: #ffffff;
}

footer a:hover {
  color :#F4CE14;
}