.availableslots {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  justify-content: center;
}

.time {
  width: 50px;
  padding: 10px;
  border: 0.5px solid gray;
 
}
.availableslots .time {
  font-size: 0.7rem;
}

.not-available {
  background-color: #bbb;
}




@media (min-width: 700px) {
  .bookingslots {
    width: 340px;
   }
}