.review-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--lightgray);
  width: 300px;
  height: 210px;
  overflow: hidden;
  margin: 0px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
 }

.review-card img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.rating-stars {
  display:inline;
}

.rating-client {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.review-content {
  padding: 10px;
  font-size: 0.8rem;
  text-align: left;
  overflow: hidden;
}
